@import "variables";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(179, 243, 105);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

.container {
    max-width: 1400px;
    margin: auto;
    display: block;
}

header {
    background-color: rgb(179, 243, 105);

}

header {

    .logo {
        margin: 0;
        padding: 25px 30px;
        font-weight: bold;
        color: rgb(255, 0, 0);
        font-size: 2em;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

main {
    background-color: rgb(179, 243, 105);
}

#somos-totaco {

    .container {
        text-align: center;
        padding: 100px 12px;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
    }

    .img-container {
        background-image: url("../media/tacoparty.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 600px;
    }

    h2 {
        margin-top: 0px;
    }
}

.texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


// Nosotros
#nosotros {

    .container {
        text-align: center;
        padding: 100px 12px;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
    }

    .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .h2 {
        margin-top: 0px;
    }

    .img-container {
        background-image: url("../media/quienesomos.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 600px;
    }
}

.color-acento {
    color: rgb(77, 77, 77);
}


.gradient {
    height: 200px;
    background-image: linear-gradient(to top, rgb(179, 243, 105), rgb(111, 173, 40));
}

.transform {
    width: 200px;
    height: 200px;
    background-color: rgb(88, 121, 50);
    color: green;
    transition: all 0.5s, background-color 2s;
}

.transform:hover {
    transform: translateX(50px);
    background-color: grey;
    color: black;
}


#nuestras-sucursales {
    .programas {
        padding-bottom: 50px;
    }


    p {
        display: block;
        margin-bottom: 30px;
    }

    h3 {
        margin-top: 0;
    }

    .carta {
        padding: 50px;
        background-size: 100% 150px;
        background-position-y: 0;
        background-color: rgb(157, 247, 55);
        box-shadow: 2px 2px 10px rgb(0, 54, 54);
    }

}

.sucursales-container-media {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}


.sucursales-media {
    width: 280px;
    height: 250px;
    margin-left: 40px;
    margin-right: 40px;

}

// NODING

.bloque {
    background-color: gray;
    padding: $espacioRelleno;
    transition: $transicion;

    &__elemento {
        text-align: center;
    }

    &__elemento2 {
        // font-size: $fontmedium; 
        font-size: $fontbase + 4;
    }

    &:hover {
        background-color: lightblue;
        color: black;
    }
}

.btn-base {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: $fontmedium;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: $transicion;

    .btn-base:hover,
    .btn-contacto:hover,
    .btn-info:hover {
        opacity: 0.8;
    }

    &:hover {
        opacity: 0.8;
    }
}

.btn-contacto {
    @extend .btn-base;
    background-color: green;
}