* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(179, 243, 105);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

.container {
    max-width: 1400px;
    margin: auto;
    display: block;
}

header {
    background-color: rgb(179, 243, 105);

}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-size: 2em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: rgb(179, 243, 105);
}


#somos-totaco .container {
    text-align: center;
    padding: 100px 12px;
}

#somos-totaco .container {
    display: flex;
    justify-content: space-evenly;
}

#somos-totaco .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#somos-totaco h2 {
    margin-top: 0px;
}

#somos-totaco .img-container {
    background-image: url("media/tacoparty.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 600px;
}

.color-acento {
    color: rgb(77, 77, 77);
}

.gradient {
    height: 200px;
    background-image: linear-gradient(to top, rgb(179, 243, 105), rgb(111, 173, 40));
}

.transform {
    width: 200px;
    height: 200px;
    background-color: rgb(88, 121, 50);
    color: green;
    transition: all 0.5s, background-color 2s;
}

.transform:hover {
    transform: translateX(50px);
    background-color: grey;
    color: black;
}


#nuestras-sucursales .programas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}


#nuestras-sucursales p {
    display: block;
    margin-bottom: 30px;
}

#nuestras-sucursales h3 {
    margin-top: 0;
}

#nuestras-sucursales .carta {
    padding: 50px;
    background-size: 100% 150px;
    background-position-y: 0;
    background-color: rgb(157, 247, 55);
    box-shadow: 2px 2px 10px rgb(0, 54, 54);
}

.sucursales-container-media {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}


.sucursales-media {
    width: 350px;
    height: 250px;
    margin-left: 40px;
    margin-right: 40px;
}

#contactanos-somos-totaco .container {
    text-align: center;
    padding: 100px 12px;
}

#contactanos-somos-totaco .container {
    display: flex;
    justify-content: space-evenly;
}

#contactanos-somos-totaco .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contactanos-somos-totaco h2 {
    margin-top: 0px;
}

#contactanos-somos-totaco .img-container {
    background-image: url("media/contactanos.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 600px;
}

.contactanos-formulario {
    padding: 50px;
}

* {
    box-sizing: border-box;
}

form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(55, 184, 4);
}

form label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
}

form input[type="text"],
form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
}

#experiencia .container {
    text-align: center;
    padding: 100px 12px;
    justify-items: center;
}

#experiencia .container {

}

#experiencia .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#eperiencia .experiencia-media {
    width: 100px;
    height: 100px;
}

#experiencia h2 {
    margin-top: 0px;
}

.gradient {
    height: 200px;
    background-image: linear-gradient(to top, rgb(179, 243, 105), rgb(111, 173, 40));
}

.gradient-footer {
  height: 200px;
  background-image: linear-gradient(to top, rgb(111, 173, 40), rgb(179, 243, 105))
}

.chipotle:hover {
    color: green;
}

.jalapeno:hover {
    color: orange;
}

.habanero:hover {
    color: red;
}

@media handheld,
only screen and (max-width: 767px) {
    .programas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    #somos-totaco .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #somos-totaco .texto {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }


    #somos-totaco .img-container {
        height: 400px;
        width: 480px;
    }



    #nuestras-sucursales .programas {
        display: flex;
        flex-direction: column;
    }


    .titulo-pagina {
        text-align: center;
    }


    #contactanos-somos-totaco .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    #contactanos-somos-totaco .texto {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }



    #contactanos-somos-totaco .img-container {
        height: 400px;
        width: 480px;
    }

    .contactanos-formulario {
        text-align: center;
    }

    #contactanos-experiencia .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    #contactanos-experiencia .texto {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }



    #contactanos-experiencia .img-container {
        height: 400px;
        width: 480px;
    }
}