

#contactanos-somos-totaco .container {
    text-align: center;
    padding: 100px 12px;
}

#contactanos-somos-totaco .container {
    display: flex;
    justify-content: space-evenly;
}

#contactanos-somos-totaco .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contactanos-somos-totaco h2 {
    margin-top: 0px;
}

#contactanos-somos-totaco .img-container {
    background-image: url("media/contactanos.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 600px;
}

.contactanos-formulario {
    padding: 50px;
}

* {
    box-sizing: border-box;
}

form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(55, 184, 4);
}

form label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
}

form input[type="text"],
form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
}

#experiencia .container {
    text-align: center;
    padding: 100px 12px;
    justify-items: center;
}

/* #experiencia .container {} */

#experiencia .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#eperiencia .experiencia-media {
    width: 100px;
    height: 100px;
}

#experiencia h2 {
    margin-top: 0px;
}

#animacion-experiencia .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

#animacion-experiencia img {
    width: 250px;
}

#animacion-experiencia .agrandar {
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}


.gradient {
    height: 200px;
    background-image: linear-gradient(to top, rgb(179, 243, 105), rgb(111, 173, 40));
}

.gradient-footer {
    height: 200px;
    background-image: linear-gradient(to top, rgb(111, 173, 40), rgb(179, 243, 105))
}

.chipotle:hover {
    color: green;
}

.jalapeno:hover {
    color: orange;
}

.habanero:hover {
    color: red;
}

.giro3D {
    margin-bottom: 50px;
}

.giro3D:hover {
    animation: 1.5s girotresd 1;
    backface-visibility: visible;
}

@keyframes girotresd {
    40% {
        transform: perspective(800px) translateZ(120px) rotateY(170deg);

    }

    50% {
        transform: perspective(800px) translateZ(120px) rotateY(190deg);

    }

    80% {
        transform: perspective(800px) translateZ(0px) rotateY(360deg);

    }

    100% {
        transform: perspective(800px) rotateY(360deg);
    }
}

@keyframes agrandar {
    form {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

@media handheld,
only screen and (max-width: 767px) {
    .programas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    #somos-totaco .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #somos-totaco .texto {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }


    #somos-totaco .img-container {
        height: 400px;
        width: 480px;
    }



    #nuestras-sucursales .programas {
        display: flex;
        flex-direction: column;
    }


    .titulo-pagina {
        text-align: center;
    }


    #contactanos-somos-totaco .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    #contactanos-somos-totaco .texto {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }



    #contactanos-somos-totaco .img-container {
        height: 400px;
        width: 480px;
    }

    .contactanos-formulario {
        text-align: center;
    }

    #contactanos-experiencia .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    #contactanos-experiencia .texto {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }



    #contactanos-experiencia .img-container {
        height: 400px;
        width: 480px;
    }

    .navbar {
        flex-direction: column;
    }

    #animacion-experiencia img {
        width: 150px;
    }
}